{% extends 'layoutAdmin.html.twig' %}

{% block title %}Post Management{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class=" d-flex justify-content-end m-4">
            <button  type="button" class="return btn btn-primary"><a class="text-light" href="{{ path('admin_home') }}">Dashboard</a></button>
        </div>
    </div>
    <div class="example-wrapper">
        <div class="card shadow mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Category</th>
                            <th scope="col">Opérations</th>
                        </tr>
                        </thead>
                        <tbody>{% for post in posts %}
                        <tr>
                            <td>{{post.title  }}</td>
                                <td>{{post.author.firstname ~' '~ post.author.lastname  }}</td>
                                <td>{{post.category.name  }}</td>
                            <td>
                                <button type="button" class="update btn btn-warning"><a class="text-light" href="edit_post.php?idPost=<?=intval($posts['id']);?>">modifier</a></button>
                                <button  type="button" class="delete btn  btn-danger"><a class="text-light" href="delete_post.php">supprimer</a></button>
                            </td>
                        </tr>{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="example-wrapper">
        <div class=" d-flex justify-content-between m-4">
            <button type="button" class="create btn btn-success"><a class="text-light" href="{{ path('post_admin_add') }}">Create Post</a></button>

        </div>
    </div>

{% endblock %}
