{% extends 'base.html.twig' %}


{% block navigation  %}
    <nav class="categoriesNavigation">
        <div class="container">
            <ul>
                <li class="hoverExtend active"><a href="index.html.twig" title="#">All Post</a></li>
                <li class="hoverExtend"><a href="template-personal.html" title="#">Categories</a></li>
                <li class="hoverExtend"><a href="template-personal.html" title="#">Authors</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}




{% block  carroussel %}
<!-- Main carousel -->
<div class="mainCarousel mainCarousel-1">
    <div class="container">
        <div class="c-row">
            <div class="js-main-carousel-1">
                <article class="i article">
                    <a href="post-detail-standard.html" title="#">
                        <img src="{{ asset('tmp/580x550-1.jpg') }}" alt="#" width="580" height="550" class="img-responsive">
                    </a>
                    <div class="c">
                        <h2 class="title">
                            <a href="post-detail-standard.html" title="#">We are all apprentices in a craft where no one ever becomes a master.</a>
                        </h2>
                        <div class="info">
                            <a href="post-detail-standard.html" title="#">Creative</a>
                        </div>
                    </div>
                </article>
                <article class="i article">
                    <a href="post-detail-standard.html" title="#">
                        <img src="{{ asset('tmp/580x550-2.jpg') }}" alt="#" width="580" height="550" class="img-responsive">
                    </a>
                    <div class="c">
                        <h2 class="title">
                            <a href="post-detail-standard.html" title="#">I have no special talent. I am only passionately curious.</a>
                        </h2>
                        <div class="info">
                            <a href="post-detail-standard.html" title="#">Lifestyle</a>
                        </div>
                    </div>
                </article>
                <article class="i article">
                    <a href="post-detail-standard.html" title="#">
                        <img src="{{ asset('tmp/580x550-3.jpg') }}" alt="#" width="580" height="550" class="img-responsive">
                    </a>
                    <div class="c">
                        <h2 class="title">
                            <a href="post-detail-standard.html" title="#">There is no sincerer love than the love of food.</a>
                        </h2>
                        <div class="info">
                            <a href="post-detail-standard.html" title="#">Food</a>
                        </div>
                    </div>
                </article>
                <article class="i article">
                    <a href="post-detail-standard.html" title="#">
                        <img src="{{ asset('tmp/580x550-4.jpg') }}" alt="#" width="580" height="550" class="img-responsive">
                    </a>
                    <div class="c">
                        <h2 class="title">
                            <a href="post-detail-standard.html" title="#">And the most unusual and surrealistic place in New York is Central Park.</a>
                        </h2>
                        <div class="info">
                            <a href="post-detail-standard.html" title="#">Travel</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block body %}
    {% for listPost in listPosts %}
        <section>
            <article class="article">
                <div class="box">
                    <h3 class="title">{{ listPost.title }}</h3>
                    <div class="info">
                        <div> {{ listPost.author.firstname}} {{ listPost.author.lastname}} </div>
                        <div> {{ listPost.category.name }}</div>
                        <div> {{ listPost.createdat | date("m/d/Y") }}</div>
                    </div>
                    <p>
                        {{ listPost.content | slice(0, 150)}}[..]
                    </p>
                    <div class="btns text-center">
                        <a class="btn btn-primary" href="{{path('post_detail',{'id': listPost.id}) }}">
                            <span>
                                En lire Plus
                            </span>
                        </a>
                    </div>
                </div>
            </article>
    {% endfor %}
            <!-- Pagination load more -->
            <div class="paginations pagination-loadmore hoverExtend active">
                <a href="#" title="#">Load more</a>
            </div>

            <!-- Pagination previous / next -->
            <div class="paginations pagination-prevnext">
                <div class="row">
                    <div class="col-xs-4 prev hoverExtend active">
                        <a href="#" title="#">Previous</a>
                    </div>
                    <div class="col-xs-4 info hidden-xs">Page 01 of 12</div>
                    <div class="col-xs-4 col-xs-offset-4 col-sm-offset-0 next hoverExtend active text-right">
                        <a href="#" title="#">Next</a>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block aside %}

    <!-- Aside -->
    <aside class="col-xs-12 col-sm-4 aside">
        <div class="row">
            <!-- About me box -->
            <div class="col-xs-12 i">
                <div class="box aboutMeBox">
                    <div class="c">
                        <p class="name">@Agnès</p>
                        <br>
                        <p class="info">Développeuse de truc secret en PHP</p>
                        <p class="info"> Le "Ctl + c / Ctl + v "  est ma devise </p>
                        <p class="info"> Pour en savoir plus c'est par la </p>

                        <div class="btns">
                            <a href="{{ path('about') }}" title="#" class="btn btn-color-full"><span>About me</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Socials -->
            <div class="col-xs-12 i">
                <div class="box socials">
                    <a href="#" title="#" class="i"><i class="fa fa-facebook"></i></a>
                    <a href="#" title="#" class="i"><i class="fa fa-linkedin"></i></a>
                    <a href="#" title="#" class="i"><i class="fa fa-instagram"></i></a>
                </div>
            </div>

            <!-- to do faire une requete pour recuperer tte les categories et les afficher ici-->

            <!-- Categories -->
            <div class="col-xs-12 i">
                <div class="box categories">
                    <h2>Categories</h2>
                    <br>
                    {% for listCategory in listCategories %}
                    <div class="c">
                        <div class="i">
                            <a href="page-category.html" title="#" class="clearfix">
                                <span class="title">{{ listCategory.name }}</span>
                                <span class="count">{{ listCategory | length }}</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {#        TODO  faire la pages/methodes pour afficher toutes les categories   #}
                    <div class="btns text-center">
                        <a href="page-category.html" title="#" class="btn"><span>All categories</span></a>
                    </div>
                </div>
            </div>
            <!--Author -->
            {#        TODO  faire les pages/methodes pour afficher 1 page detail de lauthor    #}
            <div class="col-xs-12 i">
                <div class="box archives">
                    <h2>Authors</h2>
                    <br>
                    {% for listAuthor in listAuthors %}
                    <div class="c">
                        <div class="i">
                            <a href="page-author.html" title="#" class="clearfix">
                                <span class="title">{{ listAuthor.firstName ~ ' '~listAuthor.lastName }}</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <br>
                    {#        TODO  faire la pages/methodes pour afficher tous les authors    #}
                    <div class="btns text-center">
                        <a href="page-category.html" title="#" class="btn"><span>All authors</span></a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
{% endblock %}
