{% extends 'base.html.twig' %}



   {% block navigation %}
       <nav class="categoriesNavigation">
           <div class="container">
               <ul>
                   <li class="hoverExtend "><a href="{{ path('home') }}" title="home">Home</a></li>
                   {% for categorie in categories %}
                       <li class="hoverExtend
                           {% if categorie.name ==  postDetail.category.name %}
                                active
                           {% endif %}
                       ">
                           <a title="#">{{ categorie.name }}</a></li>
                   {% endfor %}
               </ul>
           </div>
       </nav>
   {% endblock %}
    {% block title %}
        {{ postDetail.title }} | {{ parent() }}
    {% endblock %}

    {% block body %}
        <section>
            <article class="article articleDetail">

                <div class="box">
                    <h3 class="title">{{ postDetail.title }}</h3>
                    <div class="info">
                        <div>
                            <span class="date">{{ postDetail.createdat | date("m/d/Y") }} <span
                                        data-current-year></span></span>
                        </div>
                        <div>by <a href="#"
                                   title="#">{{ postDetail.author.firstname ~" " ~ postDetail.author.lastname }}</a>
                        </div>
                        <div>in <a href="#" title="#">{{ postDetail.category.name }}</a></div>
                    </div>
                    <div class="rte js-imagelightbox">
                        <p class="drop-cap-1">
                            {{ postDetail.content |nl2br }}
                        </p>
                    </div>
                    <footer class="footer">
                        <div class="row">
                            <div class="col-sm-12 col-lg-6 moreInfo">
                                <div><span><i class="fa fa-comments"></i> {{ postDetail.comments | length }}    </span>
                                    Comments
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </article>
        </section>

        <section class="section_comments_detailPost">
            {# todo  css faire un display pour mettre cote a cote #}
            <!-- Comment -->
            <div class="list_Comments_postDetails">
                {% for listComments in  postDetail.comments %}
                    <div class="articleCommentsListing">
                        <div class="box">
                            <header>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-8 commentInfo">
                                        <span class="name">{{ listComments.nickname }} </span>
                                        <span class="time info">le  {{ listComments.createdAt | date("d/m/Y") }}</span>
                                    </div>
                                </div>
                            </header>
                            <div class="c">
                                <p> {{ listComments.content }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {# Todo faire la mise en forme des commentaires #}
            <div class="articleComments box">
                <div class="row">
                    {{ form_start(commentForm) }}{# //bal ise d ouverture du formulaire = form #}

                    <h2>Comments</h2>
                    <div>
                        <div class="col-xs-12 col-sm-4 i">
                            {{ form_widget(commentForm.nickname,{'attr':
                                {
                                    'placeholder':'pseudo...',
                                    'class':'input'
                                }
                            }) }}
                        </div>
                        <div class="col-xs-12 col-sm-4 i">
                            {{ form_widget(commentForm.content,{'attr':{'placeholder':'commentaire...','class':'input'}}) }}
                        </div>
                        <div class="col-xs-12">
                            <div class="btns">
                                <button class="btn btn-color-full submit">
                                    <span>Add Comment</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(commentForm) }}
                </div>
            </div>
        </section>
    {% endblock %}


  {% block aside %}
      <aside class="col-xs-12 col-sm-4 aside">
          <div class="row">
              <!-- Our authors -->
              <div class="col-xs-12 i">
                  <div class="box ourAuthorsBox">
                      <h2>L'auteur</h2>

                      <div class="c">
                          <div>
                              <div class="i">
                                  <div class="name">{{ postDetail.author.firstname ~" "~postDetail.author.lastname }}</div>
                                  <p class="info">{{ postDetail.author.description }}</p>
                              </div>
                          </div>
                          <div class="btns">
                              <a href="page-about-us.html" title="#" class="btn btn-color-full"><span>Message</span></a>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-xs-12 i">
                  <div class="box categories">
                      <h2>Autres Post du meme auteur</h2>
                      <div class="c">
                          <div class="i">
                              {% for p in othersPostAuthor %}
                                  <a href="{{ path('post_detail',{'id': p.id, 'author': p.author}) }}">
                                      <div><br>{{ p.title | upper }}</div>
                                  </a>
                              {% endfor %}
                          </div>
                      </div>
                      <div class="tab-content bordered"></div>

                  </div>
              </div>
          </div>
      </aside>


  {% endblock %}