{% extends './base.html.twig' %}
{#

    {% block title %}
        {{ postDetail.title }} | {{ parent() }}
    {% endblock %}
#}
    {% block body %}
        <div class="container">
            <h2>{{ postDetail.title }}</h2>
           <article>
               <p>{{ postDetail.content }}</p>
           </article>


            <article>

                {{ postDetail.comments}}
            </article>
        </div>
    {% endblock %}